body{
    margin: 0;
    padding: 0;
    background-size: cover;
    }

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.card-text{
    text-align: center;
}

.card_phone{
    background-color: aqua;
    border-radius: 10px;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}